/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../.rvm/gems/ruby-1.9.3-p125/gems/compass-0.12.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 15, ../sass/screen.scss */
body {
  background-color: #d9b741;
}

/* line 19, ../sass/screen.scss */
#container {
  width: 550px;
  margin: 0 auto;
}

/* line 24, ../sass/screen.scss */
h1, h2 {
  font-weight: bold;
}

/* line 28, ../sass/screen.scss */
h1 {
  font-size: 1.75em;
  margin: 0.35em 0;
  color: #050916;
}

/* line 34, ../sass/screen.scss */
h2 {
  font-size: 1.45em;
  margin: 0.25em 0;
  color: #111c44;
}

/* line 40, ../sass/screen.scss */
h3 {
  font-size: 1.1em;
  margin: 0.2em 0;
  color: #1d3072;
}

/* line 46, ../sass/screen.scss */
h1, h2, h3 {
  text-align: center;
  font-family: 'Gorditas', 'Helvetica Neue', 'Helvetica';
}

/* line 51, ../sass/screen.scss */
p, li {
  font-family: 'Pontano Sans', 'Helvetica Neue', 'Helvetica';
  line-height: 120%;
}

/* line 56, ../sass/screen.scss */
code, pre {
  font-family: 'Courier New';
}

/* line 60, ../sass/screen.scss */
.highlight {
  font-size: 0.9em;
  padding: 1em;
  border: solid #3a60e5 1px;
  margin: 1em 0;
}

/* line 68, ../sass/screen.scss */
em {
  font-style: italic;
}

/* line 72, ../sass/screen.scss */
p {
  margin: 0.7em 0;
}

/* line 76, ../sass/screen.scss */
li {
  list-style-type: disc;
}

/* line 80, ../sass/screen.scss */
ul {
  padding-left: 2em;
}
